
.expenseRect{
    display: flex;
    position: absolute;
    width: 345px;
    height: 345px;
    left: 122px;
    top: 160px;

    background: #FFFFFF;
    border-radius: 20px;

}


.expenseRect3{
    display: flex;
    position: absolute;
    width: 30% !important;
    height: 20% !important;
    top: 20% !important;
    left: 50% !important;

    background: #FFFFFF;
    border-radius: 20px;

}