.expenseRect{
    display: flex;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 20%;
    left: 10%;

    background: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.viewExpenseRect{
    display: flex;
    position: absolute;
    width: 30%;
    height: 50%;
    top: 20%;
    left: 60%;

    background: #FFFFFF;
    border-radius: 20px;
    align-items: center;
    justify-content: center;

}

.list-group{
    padding-top: 10%;
    width: 80%;
}