/* universal reset */
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  box-sizing: border-box;
}

/* color variables */
:root {
  --primary: #BC977B;
  --dark: #785E47;
  --light: #FFFFFF;
  --black: #000000;
}

body {
  height: 100vh;
  background: linear-gradient(#BC977B, white);
}

/* nav styling start */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: 'Lato', sans-serif;
}

.logo img {
  width: 6.5%;
  height: 6.5%;
  float: left;
  margin-right: 5px;
}

.logo {
  color: #785E47;
  letter-spacing: 1px;
  font-size: 35px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover {
  border-bottom: 3px solid black;
}

.nav-links a.active {
  border-bottom: 3px solid black;
}

/* nav styling end */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}

.col1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 150px;
}

.col1 h1 {
  font-size: 70px;
  color: white;
}

.col1 h4 {
  font-size: 20px;
  color: white;
  font-weight: 20;
}

.col2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}

.col2 .book {
  width: 60%;
  margin: 30px;
}

/* about us page stlying start */
.wrapper {
  display: grid;
  /* grid-template-columns: 30% 30% 30%;
  grid-column-gap: 1em; */
}

.center_text {
  position: absolute;
  top: 40%;
  left: 50%;
}

.center_text h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.img_container .abt_img {
  width: 100%;
  border-radius: 25px;
}

/* WARNING: DELETE THIS SHIT LATER, THIS IS ONLY FOR DIFFERENTIATING */
.wrapper div {
  background: gray;
  padding: 1em;
}

.wrapper div:nth-child(odd) {
  background: #ddd;
  /* WARNING: END */
}

/* about us page stlying end */
/* quiz styling start */
.header h1 {
  text-align: center;
  font-family: 'Karla', sans-serif;
}

.quiz_container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.quiz_option{
  background: var(--dark);
  text-align: center;
  padding: 2rem 2rem;
  box-shadow: var(--primary);
  border-radius: 20px;
}

/*changes start here*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* quiz styling start */
