/* Blur effect */ /*Started login css*/
.blurrect{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(3px);
}
/* Note: backdrop-filter has minimal browser support */

/* Rectangle 122 */
.whiteloginrect{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 40%;
  height: 60%;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);

  background: #FFFFFF;
  border-radius: 60px;

  font-family: 'Lato';
  font-style: normal;
  font-weight: 350;
  font-size: 35px;
  line-height: 42px;
  /* identical to box height */

  color: #785E47;
}

.cancelBtn{
  display: flex;
  width: 6.5%;
  height: 6.5%;
  float: right;
  margin-right: 5px;
}

.logintext{
  /* Enter Login */

position: absolute;
display: flex;
top:50%;
left:50%;
transform:translate(-50%,-550%);

font-family: 'Lato';
font-style: normal;
font-weight: 350;
font-size: 35px;
line-height: 42px;
/* identical to box height */

color: #785E47;

}


.usernamebox{
  /* Rectangle 122 */
  position: absolute;
  width: 60%;
  height: 10%;
  top:50%;
  left:50%;
  transform:translate(-50%,-250%);

  text-align:center;
  vertical-align:middle;
  justify-content:center;
  align-items: center;
  display: flex;
  /* Enter Username */

  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #412711;

  background: #DCDCDC;
  border-radius: 15px;
}
.passwordbox{
  /* Rectangle 123 */

  position: absolute;
  width: 60%;
  height: 10%;
  top:60%;
  left:50%;
  transform:translate(-50%,0%);

  text-align:center;
  vertical-align:middle;
  justify-content:center;
  align-items: center;
  display: flex;
  /* Enter Username */

  font-family: 'Karla';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #412711;

  background: #DCDCDC;
  border-radius: 15px;
}
