<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="static/images/logo.ico">

    <!-- google fonts links -->
    <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet"/>

    <!-- fontawesome kit -->
    <script src="https://kit.fontawesome.com/eeb3ca3e76.js" crossorigin="anonymous"></script>
    <title>BreadBuilder</title>
</head>

<body>
<!-- naviation bar start -->
<nav>
    <div class="logo">
        <img src="static/images/logo.png" alt="Our Super Cool Logo">
        <h4>Bread Builder</h4>
    </div>

    <ul class="nav-links">
        <li><a href="templates/index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="login.html" class="active">Log in</a></li>
    </ul>
</nav>
<!-- naviation bar end -->

<!-- quiz page start -->
<div class="wrapper">

    <!-- quz question -->
    <div class="header">
        <h1>How Often Do You Eat Out?</h1>
    </div>

    <!-- quiz options start -->
    <div class="quiz_container">

        <!-- option 1: save $10~$20 OR 10-15% of income -->
        <div class="quiz_option option_a">
            <i class="fa-solid fa-money-bill fa-8x"></i>
            <h4>Once or twice a week</h4>
            <p>casual/starter saver</p>
            <a href="#" class="btn">Option 1</a>
        </div>

        <!-- option 2: save $100~ OR 30-40% of income -->
        <div class="quiz_option option_b">
            <i class="fa-solid fa-coins fa-8x"></i>
            <h4>Once a month</h4>
            <p>intermediate saver</p>
            <a href="#" class="btn">Option 2</a>
        </div>

        <!-- option 3: save $150 OR 50% of income -->
        <div class="quiz_option option_c">
            <i class="fa-solid fa-piggy-bank fa-8x"></i>
            <h4>Once a year</h4>
            <p>Pro saver</p>
            <a href="#" class="btn">Option 3</a>
        </div>

        <!-- option 4: save $200+ or 80%+ of total income-->
        <div class="quiz_option option_d">
            <i class="fa fa-solid fa-vault fa-8x"></i>
            <h4>Never</h4>
            <p>probably Amish</p>
            <a href="#" class="btn">Option 4</a>
        </div>
        <!-- quiz options end -->
    </div>

</div>

<!-- quiz page end -->

<!-- Including javascript -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="javascript.js"></script>
</body>

</html>
