{% extends "base.html" %}

{% block content %}

<!-- about us page start -->
<div class="wrapper">
    <div class="img_container">
        <img src="../static/images/finance_bg_cropped.jpg" alt="fancy_money_image" class="abt_img">
    </div>
</div>

<div class="container">
    <div class="center_text">
        <h3>THIS IS CENTERED TEXT THAT WE CAN PUT STUFF IN</h3>
    </div>
    <blockquote>
        <h5>At Bread Builder we aim to create an application that will help young people flourish financially. As two
            working students ourselves, we understand the pain of juggling transport, food, rent and other costs.
            Through
            our application students and youth alike will be able to set out a simple view of all the expenses and
            income they have.</h5>
        <footer>From literally our mouths</footer>
    </blockquote>

</div>

<!-- about us page end -->

{% endblock %}