<!--Laras Code-->

{% extends "base.html" %} <!--Inherits from base html-->

{% block content %}
<link rel="stylesheet" href="../static/home.css">


<dev class = "dashboard"> <!--Creating a whole dashboard-->
    <dev class = "expenseRect">
        <form method="POST"> <!--Using forms to get all transaction data-->
          <h3 align="center">Add Transaction</h3>
            <br>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary active">
                <input type="radio" name="transType" id="option1" autocomplete="off" checked> Expense
              </label>
              <label class="btn btn-secondary">
                <input type="radio" name="transType" id="option2" autocomplete="off"> Income
              </label>
            </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Name</span>
              </div>
              <input type="text" name="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              <input type="text" name="amount" class="form-control" aria-label="Amount (to the nearest dollar)">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
            <span class="input-group-text" for="dateDue">Date Due</span>
                  </div>
            <input
              type="date"
              name="dateDue"
              class="form-control"
              id="dateDue"
              aria-label="Default"
              aria-describedby="inputGroup-sizing-default"
            />
          </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="frequency">Frequency</label>
              </div>
              <select class="custom-select" id="frequency" name="frequency">
                <option selected>Choose...</option>
                <option value="1">One Time</option>
                <option value="2">Weekly</option>
                <option value="3">Fortnightly</option>
                  <option value="4">Monthly</option>
                  <option value="5">Yearly</option>
              </select>
            </div>
          <br/>
          <button type="submit" class="btn btn-primary">Confirm</button> <!--Once button is pressed it will send info to auth.py-->
        </form>

    </dev>

    <dev class = "viewExpenseRect"> <!--Will change to show expenses from file and show them in a loop-->
            <h3 class="titleExpense">Upcoming Expenses</h3>
                <br>
                <ul class="list-group">
                  {% for t in trans %}
                        <li class="list-group-item">
                            {{ t.name }}
                            <span class="badge badge-light">{{ t.amount }}</span>
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <button data-toggle="collapse" data-target="#demo">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ t.id }}">View</a>
                                  </button>
                                </div>
                                <div id="{{ t.id }}" class="panel-collapse collapse in">
                                  <div class="panel-body">
                                      <li class="list-group-item">
                                          {{ t.name }}
                                          {{ t.amount }}
                                          {{ t.dateDue }}
                                          <span class="badge badge-light">{{ t.frequency }}</span>
                                      </li>
                                  </div>
                                </div>
                              </div>
                            </div>
                  {% endfor %}
            </ul>
    </dev>
</dev>


{% endblock %}