{% extends "base.html" %}

{% block content %}

<!--profile page start-->
<div class="container-fluid">

    <!--Profile header-->
    <div class="jumbotron jumbo2">
        <i class="fa-solid fa-user fa-5x"></i>
        {% if current_user.is_authenticated %}
        <h1>{{ current_user.username }}</h1>
        {% endif %}
        <h3>Super Saver</h3>
    </div>

    <!--user details-->
    <div class="container">
        <h2>Account Details</h2>
        <form action="/action_page.php">
            <div class="form-group">
                <label for="email">Username:</label>
                <input type="email" class="form-control" id="email" placeholder="{{ current_user.username }}" name="email">
            </div>
            <div class="form-group">
                <label for="pwd">Current Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="{{ current_user.password1 }}" name="pwd">
            </div>
            <!--new password-->
            <div class="form-group">
                <label for="pwd">New Password:</label>
                <input type="password" class="form-control" id="pwd_new" placeholder="enter new password" name="pwd">
            </div>

            <br>

            <div class="btn_size">
                <button type="submit" class="btn btn-success btn-lg">Save Changes</button>
            </div>

        </form>
    </div>

</div>
<!--profile page end-->

{% endblock %}