{% extends "base.html" %}

{% block content %}

<!-- quiz page start -->
<div class="wrapper">

    <!-- quz question -->
    <div class="header">
        <h1>How Often Do You Eat Out?</h1>
    </div>

    <!-- quiz options start -->
    <div class="quiz_container">

        <!-- option 1: save $10~$20 OR 10-15% of income -->
        <div class="quiz_option option_a">
            <i class="fa-solid fa-money-bill fa-8x"></i>
            <h4>Once or twice a week</h4>
            <p>casual/starter saver</p>
            <a href="#" class="btn">Option 1</a>
        </div>

        <!-- option 2: save $100~ OR 30-40% of income -->
        <div class="quiz_option option_b">
            <i class="fa-solid fa-coins fa-8x"></i>
            <h4>Once a month</h4>
            <p>intermediate saver</p>
            <a href="#" class="btn">Option 2</a>
        </div>

        <!-- option 3: save $150 OR 50% of income -->
        <div class="quiz_option option_c">
            <i class="fa-solid fa-piggy-bank fa-8x"></i>
            <h4>Once a year</h4>
            <p>Pro saver</p>
            <a href="#" class="btn">Option 3</a>
        </div>

        <!-- option 4: save $200+ or 80%+ of total income-->
        <div class="quiz_option option_d">
            <i class="fa fa-solid fa-vault fa-8x"></i>
            <h4>Never</h4>
            <p>probably Amish</p>
            <a href="#" class="btn">Option 4</a>
        </div>
        <!-- quiz options end -->
    </div>

</div>

{% endblock %}