{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="../static/style.css">

  <div class="home">

    <div class="blurrect">

    <div class="whiteloginrect">
      Enter Login
      <img src="../images/cancel.png" alt="cancelBtn">
    </div>
    <div class="loginbox">
      <div class="usernamebox">
        Enter Username
      </div>

      <div class="passwordbox">
        Enter Password
      </div>

      <div class="confpasswordbox">
        Confirm Password
      </div>
    </div>


  </div>

{% endblock %}